<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheResultFile="./runtime/phpunit/result.cache">
    <testsuites>
        <testsuite name="console">
            <directory>./tests/console</directory>
        </testsuite>
        <testsuite name="feature">
            <directory>./tests/feature</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>./tests/unit/components</directory>
            <directory>./tests/unit/models</directory>
            <directory>./tests/unit/queries</directory>
        </testsuite>
    </testsuites>
</phpunit>
